@charset "ISO-8859-1";
*{
	padding: 0;
	margin: 0;
}

body {
  padding-top: 20px;
	background: "C:\Users\ztonax\Desktop\mue.png";
}


#progre{
	color:white;
	position:absolute;
	width:100%;
	height:20px;
	background:white;
	bottom:27%;
}
#myBar {
	position:absolute;
  width: 0%;
  height: 20px;
  background-color: #04AA6D;
  text-align: center;
  line-height: 30px;
  color: white;
  bottom:27%;
}

#ex{
	color: white;
	font-size: 2em;
	position: absolute;
	right: 20px;
}
#ex2{
	color: white;
	font-size: 2em;
	position: absolute;
	right: 20px;
	animation-name: stretch;
            animation-duration: 1.0s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-play-state: running;
}
#ex3{
	color: white;
	font-size: 2em;
	position: absolute;
	right: 20px;
	animation-name: stretch;
            animation-duration: 1.0s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-play-state: running;
}
#ex4{
	color:lightgrey;	font-size: 2em;
	position: absolute;
	right: 37%;
	top: 20%;
	text-shadow: 2px 1px white;
	font-weight:bold;

	 animation-name: stretch;
            animation-duration: 1.0s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-play-state: running;
}


.dimScreen
{
   
    position: absolute;
  left: 10%;
  top: 5%;
  opacity: .9;

    width: 80%;
    height: 90%;
    background:rgba(255, 0, 0, 0.9);
    z-index: 9999;

}


.dimScreen2{

	 position: absolute;
  left: 10%;
  top: 5%;
  opacity: .9;

    width: 80%;
    height: 90%;
    background:green;
    z-index: 9999;
}


.dimScreen3{

		position: absolute;
  left: 10%;
  top: 5%;
opacity: .9;
    width: 80%;
    height: 90%;
    z-index: 9999;
    background: orange;
}


.dimScreen4{

		position: absolute;
  left: 10%;
  top: 5%;
opacity: .9;
    width: 80%;
    height: 90%;
    z-index: 9999;
}


.g a{
	position: absolute;
	font-size: 3em;
	right:20px;
	top:10px;

}

#titleF{
	margin-left:6px;
	font-weight: bold;
}

#originalFast{
	padding-left: 20px;
	font-weight: bold;
	display: block;
	color:white;
	width: 90%;
	margin-bottom:20px;
}
#yourFast{
	padding-left: 20px;
	color:white;
	display: block;
	width: 90%;
	
}
#inputFast{
	display: block;
	margin-top:40px;
	margin-left:6px;
	color:white;
	font-weight: bold;
	width:98%;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 1.4em;

}

.insideFast{
	margin-top:60px;
}




.dimScreen a:hover {
  background-color: yellow;
}



.fastTypingButton{
	width:140px;
	height: 68px;
	background: red;
	position: absolute;
	left: 10px;
	bottom: 0;

}

.showUsersButton{
	width:140px;
	height: 68px;
	background: green;
    display: inline-block;
    position: absolute;
    left: 154px;
    bottom: 0;
}
.showTopTriviaButton{
	width:140px;
	height: 68px;
	background: orange;
	position: absolute;
	left: 300px;
    bottom: 0;
}
.showLoginButton{
	width:140px;
	height: 68px;
	background: lightblue;
	position: absolute;
	left: 450px;
    bottom: 0;

}


#buttons{
  
   width: 570px; /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    bottom: -40px;
    font-weight: bold;

    z-index: -22;
}



.allBody{
	display: grid;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	grid-template-columns: 1fr;
	grid-template-rows: 9fr 1fr;
	grid-gap: 15px;
	height: 90vh;
}



.allBody div {
  color: white;
  font-size: 15px;
  padding: 20px;
  }

#outputTrivia{
     background: black;
    opacity: .8;


     font-family: "Lucida Console", Courier, monospace;
     overflow-y:auto;
}

#theQ{
 background: white;
	color: #33a8a5;
     font-family: "Lucida Console", Courier, monospace;
     overflow-y:auto;
     text-align: center;
     display:none;
}

#inpTrivia{

    background: #33a8a5;
    text-align: center;
    font-size: 1.4em;
    color:white;
    height:30px;
}


#send{
	background: white;
	color: white;
	text-shadow: 1px 1px 2px black;
	font-weight: bold;
	opacity: .8;
	height: 25px;
	width:200px;
	border-color: grey;
	font-family: "Lucida Console", Courier, monospace;
	opacity: .7;
	 margin: -22px auto;
}



.fastTrivia{
	color: #33a8a5;
}



.correctAnswer{
	color:green;
}

.wrongAnswer{
	color:red;
}

.userColor{
	color:brown;
}

.timeColor{
	color: orange;
}

.pointsColor{
	color: blue;
}

.boldForQ{
	font-weight: bold;
}

.adText{
	color:yellow;
}

.notification{
	color:orange;
}



#tableConnectedUsers{
	margin-top: 60px;
	text-align: center;
}


#tableConnectedUsers tr{
  border-collapse: collapse;
  width: 100%;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;

}





#tableConnectedUsers th, td {

  text-align: left;
  padding: 16px;
  text-align: center;

}



#tableTop th, td {

  text-align: left;
  padding: 16px;


}




.minfo th, td{
	color: white;
	font-size: .8em;
	font-weight: bold;
}


#searchCU{
	margin-top: 32px;
	padding-left:20px;
}

#textSearchConnectedUsers{
	font-weight: bold;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}



#topTrivia{
	width: 100%;
	height: 70%;
	position: absolute;
	margin-top: 6.2%;
	opacity: .8;
	background: red;
}

#topFast{
	width: 100%;
	height: 70%;
	position: absolute;
	margin-top: 6.2%;
	opacity: 0;
	background: red;
}

#triviaT{
	font-weight: bold;
	color: grey;
}
#fastmodeT{
	font-weight: bold;
	margin-top: 10px;
}
#whichTop{
	padding-left: 20px;
	padding-top: 20px;
}

#searchTrivia{
	position: absolute;
	z-index: 333333;
	
}

.searchBox{
	margin-left: 40px;
	margin-top: 20px;
}

searchTriviaBox{
	opacity: .8;
}
#searchFastBox{
	opacity: 0;
}

#loginPart{
	background:lightblue;
	width: 45%;
	height: 60%;
	margin-left: 10%;
	margin-top: 10%;
	transform: rotate(-2deg);
	max-width: 400px;
	box-shadow: 2px 2px white;
	position: absolute;
	z-index: 2222;
	color:white;
	

}
#loginPart:hover{
	transform: scale(1.2); 
	 -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
     color: white; background: 
  rgba(180, 180, 180, 19);
}

#singupPart{
	background: white;
	width: 45%;
	height: 60%;
	margin-right: 15px;
	margin-top: 15%;
	position: absolute;
	right: 10%;
	bottom: 10%;
	transform: rotate(5deg);
	max-width: 400px;
	box-shadow: 2px 2px white;
	position: absolute;
	z-index: 111;
	opacity: .9;
}
#singupPart:hover{
	transform: scale(1.2); 
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    z-index: 3333;
    opacity:1 !important; 
    color: white; background: 
  rgba(180, 180, 180, 19);

}

#theYourNick{
	text-align:center;
	font-size:.9em;
	color:white;
	text-shadow: 1px 1px 2px black;
	opacity:.4;
	position:absolute;
	bottom:0;
}

#inputTrivia{
	display:none;
	
}

#userOrEmail{
  width:100%;
  display: flex;
  justify-content: center;
  padding-top: 25%;
  color: white;
}

#inputSignIn
{
	width:70%;
  display: flex;
  justify-content: center;
  margin-left: 15%;
  border-right-style:none;
  border-bottom-style: none;
  border-color: #7FFFD4;
}
#passLogin
{
	width:100%;
  display: flex;
  justify-content: center;
  padding-top: 25%;
  color: white;
}
#passSignIn
{
	width:70%;
  display: flex;
  justify-content: center;
  margin-left: 15%;
   border-right-style:none;
  border-top-style: none;
  border-color: #7FFFD4;
}
#signInButton
{
	width:40%;
  display: flex;
  justify-content: center;
  opacity: .9;
  margin-top: 25%;
  margin-left: 30%;
  font-size: 2em;
  background: #7FFFD4;
  color: white;
  border: none;
}

#emailSignUp{
	width:100%;
  display: flex;
  justify-content: center;
  padding-top: 15%;
  color: grey;
}

#inputEmailSignUp{
	width:70%;
  display: flex;
  justify-content: center;
  margin-left: 15%;
  border-width: 2px;
  border-bottom-style: none;
  border-color: #F4A460;;

}

#nicknameSignUp{
	width:100%;
  display: flex;
  justify-content: center;
  padding-top: 15%;
  color: grey;
  
}

#nicknameInput{
		width:70%;
  display: flex;
  justify-content: center;
  margin-left: 15%;
  border-width: 2px;
  border-bottom-style: none;
  border-top-style: none;
  border-color: #F4A460;
}

#passText{
	width:100%;
  display: flex;
  justify-content: center;
  padding-top: 15%;
  color: grey;
}

#passwordSignUp{
	width:70%;
  display: flex;
  justify-content: center;
  margin-left: 15%;
  border-width: 2px;
  border-bottom-style: none;
  border-top-style: none;
  border-color: #F4A460;
}
#repPassText{
	width:100%;
  display: flex;
  justify-content: center;
  padding-top: 15%;
  color: grey;
}
#repeatPassSingUp{
		width:70%;
  display: flex;
  justify-content: center;
  margin-left: 15%;
  border-width: 2px;
  border-top-style: none;
  border-color: #F4A460;
	}
#signUpButton{
	width:40%;
  display: flex;
  justify-content: center;
  opacity: .9;
  margin-top: 25%;
  margin-left: 30%;
  font-size: 2em;
  background: #F4A460;
  border: none;
  color: white;
}


.textSignIn{
	color: black;
	font-weight: bold;
	font-size: 1.3em;
}


.animOn{
	 animation-name: animTopsOn;
            animation-duration: 1.0s;
            animation-iteration-count: infinite;animation-play-state: running;
}



 @keyframes stretch {
            0% {
                transform: scale(.5);
            }
  
            50% {
            }
  
            100% {
                transform: scale(1.0);
            }
        }


@keyframes animTopsOn {
           0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
        }

        @keyframes animTopsOff {
            0% {
            }
  
            50% {
            }
  
            }
        

     @keyframes animTopsOff {
                        0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
        }

        @keyframes animTopsOff {
            0% {
            }
  
            50% {
            }
  
            }
        